<html>
<head><title>Fortune Teller</title></head>
<body>
    <h1>Welcome to the Fortune Teller!</h1>
    <form method="POST" action="/fortune">
        <label>Name: <input type="text" name="user" required></label><br>
        <label>Color:
            <select name="color">
                <option>red</option>
                <option>yellow</option>
                <option>blue</option>
                <option>green</option>
            </select>
        </label><br>
        <label>Number:
            <select name="number">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </label><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>